.products__container {
}

.products {
  display: grid;
  /* grid-template-columns: 10rem 10rem 10rem; */
  /* grid-gap: 1rem; */
  grid-auto-flow: row;
  /* grid-template-columns:repeat(auto-fill, minmax(11rem, auto)); */
  grid-template-columns: auto auto auto;
  /* grid-auto-rows: minmax(12rem, auto); */
  column-gap: 0px; 
  row-gap: 5px; 
  /* grid-template-columns: 10rem;  */
  /* grid-template-rows: 10rem;  */
  list-style-type: none;
  /* height: 50%; */
  /* width: 50%; */
  padding: 0;
  border: 1px solid blue;
}

.products__item {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  flex-wrap: wrap;
  /* justify-content: center; */
  column-gap: 0.5em;
  
  height: 20em;
  width: 20em;

  font-size: 0.8em;
  font-weight: 300;
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Roboto', sans-serif;
  border: 1px solid yellow;
}

.products__itemTitle  {
  flex: 1 1 20%;
  /* align-self: center; */
  /* padding: 0.9em 0em 0.9em 0.5em; */
  /* padding: 0; */
  font-size: 20px;
  font-weight: 600;
  border: 1px solid red;
}

.products__itemImg  {
  display: flex;
  flex: 1 1 40%;
  border: 1px solid green;

  /* height: 40%; */
  /* width: 3em; */
  /* height: 3em;   */
  /* object-fit: contain; */
}

.products__itemImgIcon  {
  /* display: none; */
  flex: 1 1 30%;
  border: 1px solid green;
  /* width: 6em; 
  height: 6em;   */
  /* object-fit: contain; */
}

.products__itemDescription  {
  flex: 1 1 20%;
}
