h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

h1 {
  font-size: 27px;
  font-weight: 750;
}

h2 {
  font-size: 25px;
  font-weight: 550;
  /* border:2px solid red;  */
}

h3 {
  font-size: 20px;
  font-weight: 550;
}
.bkg--projects {
  background-color: #f2bf84;
  background-image: url("images/rabbit.png");
  background-repeat: repeat;
  background-size: 20vh  20vh;
  height: 100vh;
  /* background-size: 256px  256px; */
  /* background-color: #F99F38; */
}

.luna-body {
  margin: 0px 50px 0px;
}